<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#support mobiles#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    {% include 'staticLinks.html' %}
    <title>{% block header %} header {% endblock %}</title>
</head>
<body>

<div class="container">
    {% block body %} contain {% endblock %}


</div>


</body>
</html>